/*
* @Author: godfather
* @Date:   2017-08-02 09:32:11
* @Last Modified by:   godfather
* @Last Modified time: 2017-08-03 14:44:49
*/
body,ul,li,dl,dt,dd,p,h6 {
	margin: 0;
	padding: 0;
}
body{
	font: 12px/1.5 "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB",\\5b8b\4f53,sans-serif;
}
a {text-decoration: none; 
	color: #999;}
li {list-style: none;}
i {font-style: normal;}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom: 1;
}
.b1{border: 1px solid #e3e4e5;}
.b1:hover {
	height: 29px;
	background: white;
	border: 1px solid #ccc;
	border-bottom: 2px solid white;
}
.h28{
	height: 28px;
}
.w100 {width: 100%;}
.wrapper {
	width: 1190px;
	margin: 0 auto;
	}
.fl {float: left; }
.fr {float: right;}
.dpn{display: none;}
.pl7{padding-left: 7px;}
.pl0{padding-left: 0;}
.pr7{padding-right: 7px;}
.pr8{padding-right: 8px;}
.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}
.triangle {
	width: 12px;
	height: 12px;
	margin-top: 15px;
	margin-right: -15px; 
	background: url(../images/triangle.gif) no-repeat;
}
