/*
* @Author: godfather
* @Date:   2017-08-02 09:33:10
* @Last Modified by:   godfather
* @Last Modified time: 2017-08-03 15:08:51
*/
.banner-event{
	height: 80px;
	background: black;
	position: relative;
}
.event {
	background: url(../images/eventbg.jpg) no-repeat;
	height: 80px;
	position: relative;
}
.event a {
	width: 100%;
	height: 80px;
	display: block;
}
.event i {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	font-size: 14px;
	color: #4d4d4d;
	background: rgba(13,13,13,1);
	text-align: center;
	line-height: 20px;
}
/* 以上是广告点击区域 */
.shortcut {
	height: 30px;
	background: #e3e4e5;
	border-bottom: 1px solid #ddd;
	color: #999;
	line-height: 30px;
}
.shortcut li{
	float: left;
}
.shortcut li ul{
	 background:white;
	 display: none;
}
.shortcut li:hover ul{display: block;}
.province {
	position: relative;
	margin-left: 200px;
	height: 28px;
	line-height: 28px;
}
.province li{
	padding: 0 7px;
}
.pro-ico {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/pro-span.gif) no-repeat;
}
.pro-cens {
	position: absolute;
	top: 29px;
	left: -1px;
	width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	z-index: -1;
}
.pro-cens li{
	width: 60px;
	height: 24px;
	padding: 2px 0;
}
.pro-cens li span{
	float: left;
	padding: 0 8px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}
.pro-cens li span:hover{
	background: rgba(204,204,204,.3);
	color: #c60c1b;
}
.pro1{
	color: white;
	background: red;
}
.topnav .spacer{
	width: 1px;
	height: 10px;
	background: #ccc;
	margin: 11px 5px 0 5px;
	padding: 0;
}
.topnav a:hover{
	color: #c60c1b;
}
.topnav .login-zc{
	color: red;
}
.my-jd {
	position: relative;
}
.my-jd > ul{
	position: absolute;
	top: 29px;
	left: -1px;
	z-index: -22;
	width: 265px;
	border: 1px solid #ccc;
	padding: 10px 0 10px 15px;
}
.my-jd > ul li{
	width: 126px;
	height: 24px;
} 
.my-jd .division{
	width: 280px;
	height: 1px;
	background: #e3e4e5;
	margin: 10px -15px; 
}
.client-serve {
	position: relative;
}
.client-serve > ul {
	position: absolute;
	top: 29px;
	right: -1px;
	z-index: -23;
	width: 170px;
	padding: 10px 0;
	border: 1px solid #ccc;
}
.client-serve > ul li{
	width: 70px;
	height: 24px;
	padding-left: 15px;
}
.client-serve .title {
	font-weight: bold;
	color: #666;
	width: 155px;
}
.client-serve .division{
	width: 170px;
	height: 1px;
	background: #e3e4e5;
	margin-top: 10px; 
	padding-left: 0;
}
.webnav {
	position: relative;
	z-index: 100;
}
.webnav > ul{
	position: absolute;
	top: 29px;
	right: -74px;
	z-index: -29;
	width: 1188px;
	padding: 15px 0;
	border: 1px solid #ccc;
}
.webnav dl{
	height: 149px;
	width: 255px;
	padding-left: 20px;
	border-right: 1px solid #e3e4e5;
}
.webnav .bo-r0{
	border-right: 0;
}
.webnav dl.webnav1 {
	width: 340px;
}
.webnav dl dt{
	font-weight: bold;
	color: #666;
}
.webnav dl li{
	width: 85px;
	height: 24px;
}
.phone-jd {
	position: relative;
}
.phone-jd .code{
	position: absolute;
	top: 30px;
	right: 0;
	width: 60px;
	height: 60px;
	padding: 4px 3px;
	border: 1px solid #ccc;
	background: url(../images/code.png) no-repeat center;
}
.code i{
	position: absolute;
	top: -5px;
	left: 50%;
	width: 0;
	height: 0;
	margin: -5px;
	border: 5px solid rgba(0,0,0,0);
	border-bottom-color:white; 
}
.phone-jd ul img{
	width: 70px;
	height: 70px;
	margin: 2px;
}
.phone-jd .code-con {
	position: absolute;
	top: 29px;
	right: 0;
	z-index: 3;
	border: 1px solid #ccc;
	border-bottom: 3px solid #60575a; 
}
.phone-jd .code-con li{
	width: 190px;
	height: 70px;
	padding: 15px 0;
	border-bottom: 1px solid #e3e4e5;
}
.phone-jd .code-con .code-w{
	width: 74px;
	height: 74px;
	border: 1px solid #e3e4e5;
	margin: 0 5px;
}
.phone-jd .code-con h6{
	width: 94px;
	height: 17px;
	color: #555;
	line-height: 17px;
}
.code-con h6 a{
	color: #555;
}
.code-con h6 a:hover {
	color: #555;
}
.phone-jd .code-con p{
	width: 94px;
	height: 17px;
	line-height: 17px;
	margin: 3px 0;
	color: red;
}
.code-con p a{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/sprite_mobile@1x.png) no-repeat;
}
.code-con p a.android{
	background: url(../images/sprite_mobile@1x.png) no-repeat left -25px;
}
.code-con p a.ipad{
	background: url(../images/sprite_mobile@1x.png) no-repeat left -52px;
}